@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .header-right-content{
        display: flex;
        align-items: center;
        .languages{
            margin-right: 30px;
            .language-vi{
                cursor: pointer;
                margin-right: 15px;
                &.active{
                    color: #db1e18;
                }
            }
            .language-en{
                cursor: pointer;
                &.active{
                    color:#f7d800;
                }
            }
        }
    }
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
}